<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}">BLOG</a>
        <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">ABOUT ME</a>
        <a class="page-link" href="{{ site.data.info.github_url }}">PROJECTS</a>
        <a class="page-link" href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a>
      </div>
    </nav>
  </div>
</header>
