<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}, {% endif %}{{ site.keywords }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" href="{{ site.data.resources.apple-touch-icon }}">
  <link rel="shortcut icon" href="{{ site.data.resources.favicon }}">
  <link rel="me" href="{{ site.data.info.facebook_url }}">
  <link rel="me" href="{{ site.data.info.google_url }}">
  <link rel="me" href="{{ site.data.info.twitter_url }}">
  {% include opengraph.html %}
  {% include twitter.html %}
  {% include analytics.html %}
</head>
