<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
        <a class="page-link" href="{{ site.data.info.github_url }}">Projects</a>
        <a class="page-link" href="{{ site.data.info.twitter_url | prepend: site.baseurl }}">Twitter</a>
        <a class="page-link" href="{{ site.data.info.google_url | prepend: site.baseurl }}">Google+</a>
      </div>
    </nav>
  </div>
</header>
