<!-- Facebook Open Graph meta data -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
<meta property="og:type" content="article">
{% endif %}<meta property="og:site_name" content="{{ site.url }}">
<meta property="og:image" content="{{ site.data.resources.avatar | prepend: site.baseurl | prepend: site.url }}">
<meta property="fb:admins" content="{{ site.data.info.facebook_id }}">
