<!-- Twitter Card meta data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:image" content="{{ site.data.resources.avatar | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:creator" content="{{ site.data.info.twitter_handle }}">
<meta name="twitter:site" content="{{ site.data.info.twitter_handle }}">
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
