/**
 * Site header
 */
.site-header {
    border-top: 5px solid $black-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        border-bottom: 1px solid lighten($grey-color, 30%);
    }
}

.site-title {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 0.25em;
    line-height: 2.5em;
    font-size: 3em;
    color: $black-color;

    &:hover {
        color: lighten($black-color, 25%);
        text-decoration: none;
    }
}

.site-nav {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 2em;
    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }

        &:hover {
            color: lighten($brand-color, 10%);
        }
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        width: 100%;
        float: left;
        margin-bottom: $spacing-unit / 2;
    }
}

.post-meta {
    float: right;
    font-size: 0.9em;
    color: $grey-color;
}

.post-link {
    color: $text-color;
    float: left;
    display: block;
    font-size: 1.4em;
}


/**
 * Posts
 */
.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2em;
    line-height: 1;
}

.post-desc {
    color: #777;
    font-size: 1.25em;
    font-weight: 300;
}

.post {
    font-family: $text-font-family;

    h1, h2, h3, h4, h5, h6 {
        font-family: $base-font-family;

    }
}

.post-content {
    font-size: 1.1em;
    margin-bottom: $spacing-unit;

    h2, h3, h4, h5, h6 {
        margin-top: 1.2em;
        margin-bottom: 1.2em;
        font-weight: 400;
    }

    p, ul, ol {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    h2 {
        font-size: 1.375em;
    }
}
